* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  font-family: $font-primary;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-secondary;
    font-weight: bold;
    line-height: 1.1em;
}

.h1 {
    font-size: 2rem;
}
.h2 {
    font-size: 1.8rem;
}
.h3 {
    font-size: 1.6rem;
}
.h4 {
    font-size: 1.4rem;
}
.h5 {
    font-size: 1.2rem;
}
.h6 {
    font-size: 1rem;
}

@media (max-width: $screen-sm-max) {
    .h1 {
        font-size: 1.8rem;
    }
    .h2 {
        font-size: 1.6rem;
    }
    .h3 {
        font-size: 1.4rem;
    }
    .h4 {
        font-size: 1.2rem;
    }
    .h5 {
        font-size: 1rem;
    }
    .h6 {
        font-size: 0.8rem;
    }
}
