// primary, secondary, tertiary, quaternary, quinary, septenary, octonary, nonary, denary
$color-primary:         red;
$color-secondary:       orange;
$color-tertiary:        yellow;
$color-quaternary:      green;
$color-quinary:         blue;
$color-senary:          purple;

$mono-primary:          rgb(0, 255, 0);
$mono-secondary:        rgb(0, 255, 63);
$mono-tertiary:         rgb(0, 255, 127);
$mono-quaternary:       rgb(0, 255, 190);
$mono-quinary:          rgb(0, 255, 255);

$grayscale-primary:     white;
$grayscale-secondary:   lightgray;
$grayscale-tertiary:    darkgray;
$grayscale-quaternary:  gray;
$grayscale-quinary:     black;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;
